# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.pytest_cache/

# Dataset and Large Files
sumo-main/
sumo-docs/
Datos/
Resultados/
simulación/
Graph_old/
cache/
NLP/
DRIFT/
Archivo.zip
email_config.json

# MACOS
.DS_Store

# Streamlit
.streamlit/
