# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.pytest_cache/
Tesis/

# Dataset and Large Files
sumo-main/
sumo-docs/
Datos/
Resultados/
docs/
simulación/
Graph_old/
cache/
NLP/
DRIFT/
Archivo.zip
email_config.json
.claude/
tmp/pdfs
papers/


# MACOS
.DS_Store

# Streamlit
.streamlit/*
!.streamlit/config.toml
